.profile {
  display: flex;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  padding: 2rem;
}

.profile-rockets {
  width: 48%;
  display: flex;
  flex-direction: column;

  &>h2 {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  &>.reserved-rockets {
    border: 1px solid rgb(192 192 192);
    border-radius: 4px;

    &>p {
      padding: 2rem;
      width: 100%;
      border-bottom: 1px solid rgb(192 192 192);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.profile-missions {
  width: 48%;
  display: flex;
  flex-direction: column;

  &>h2 {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  &>.missions-joined {
    border-radius: 4px;
    border: 1px solid rgb(192 192 192);


    &>.missionName {
      padding: 2rem;
      width: 100%;
      border-bottom: 1px solid rgb(192 192 192);
    }

    &>:last-child {
      border-bottom: none;
    }
  }
}