.missions-container {
  font-family: Roboto, sans-serif;
  margin: 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.missions-titles {
  font-weight: 600;
  padding-left: 0;
  list-style: none;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.336);
  margin-bottom: 0;
}

.missions-titles :nth-child(1) {
  padding: 10px;
  width: 15%;
  border-right: 1px solid rgba(0, 0, 0, 0.336);
}

.missions-titles :nth-child(2) {
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.336);
  width: 65%;
}

.missions-titles :nth-child(3) {
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.336);
  width: 15%;
}

.missions-titles :nth-child(4) {
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.336);
  width: 15%;
}

.missions {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}

/*
.missions:nth-child(2) {
  background-color: aqua;
} */
